.selection {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    :hover {
        background-color: #aaaaaa;
    }
    .item {
        display: flex;
        grid-template-columns: 2fr 1fr;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        border-bottom: lightgrey solid 1px;
        .text {
            font-size: 1.5em; 
        }
        .action {
            font-size: 3em;
        }
        
    }
}