:root {
    --primary-light: #57687c;
    --primary-main: #2c3e50;
    --primary-dark: #031828;
    --primary-contrastText: #fff;

    --secondary-light: #FFFFFF;
    --secondary-main: #FFFFFF;
    --secondary-dark: #FFFFFF;
    --secondary-contrastText: #000;

    background-color: var(--secondary-main);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: var(--primary-main);
    color: var(--primary-contrastText);
}

.edge {
    z-index: -1;
    display: block;
    height: 27vh;
    background: #233140;
    position: relative;
    top: -15px;
    margin-bottom: -100px;
}

.actions {
    padding: 2em;
    --grid-space: 1rem;
    display: grid;
    gap: var(--grid-space);
    grid-template-columns: repeat(auto-fit, minmax(1fr, 2fr));
}

.card {
    cursor: pointer;
    text-align: center;
    background-color: var(--secondary-main);
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    background-color: #aaaaaa;
}

.card .contents {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
}

.card .contents .icon {
    font-size: 5em;
}




